<!-- ================= WEDDING GALLERY SECTION ================= -->
<section class="py-5 bg-light">
  <div class="container py-5">

    <!-- Header -->
    <div class="text-center mb-5 py-5">
      <h2 class="fw-bold">{{ category }} Photography</h2>
      <p class="text-muted">
        Capturing love, emotions & unforgettable moments
      </p>
    </div>

    <!-- Empty State -->
    <div *ngIf="weddingImages.length === 0"
      class="text-center text-muted">
      No wedding photos available.
    </div>

    <!-- Gallery -->
    <div class="row g-4" *ngIf="weddingImages.length > 0">
      <div class="col-6 col-md-4 col-lg-3"
        *ngFor="let item of weddingImages">

        <img
          [src]="item.ImageUrl"
          class="img-fluid rounded shadow-sm"
          style="height:220px; object-fit:cover;"
          alt="{{category}} Photography">

        <!-- for title and description -->
        <div class="card-body text-center py-3">
          <h6 class="mb-1">{{ item.Title }}</h6>
          <small class="text-muted">{{ item.Description }}</small><br>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- ================= END WEDDING GALLERY SECTION ================= -->