.search-box {
  position: absolute;
  top: 110%;
  right: 0;
  width: 260px;
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  animation: fadeSlide 0.25s ease-in-out;
  z-index: 1000;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 999;
}


@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
