/* Wrapper */
.login-wrapper {
  display: flex;
  min-height: 100vh;
  background: #ffffff;
}

/* Left background */
.login-left {
  width: 50%;
  min-height: 100vh;
  background-image: url("/assets/img/1.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Right form section */
.login-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 60px;
  background: #CCDDE2;
  overflow-y: auto;
}

.login-content {
  width: 100%;
  max-width: 380px;
  margin-top: 30px;
}

.reg-input {
  width: 100%;
  padding: 13px 16px;
  border-radius: 12px;
  border: 1px solid #e3e3e3;
  background: #fafafa;
  margin-top: 5px;
  font-size: 14px;
  transition: 0.2s ease;
}

.reg-input:focus {
  border-color: #6a11cb;
  box-shadow: 0 0 8px rgba(106, 17, 203, 0.2);
}


.forgot a{
  margin-left: 120px;
  font-weight: 500;
  color: #6A11CB;
}

/* Titles */
.login-title {
  font-size: 32px;
  font-weight: 700;
  color: #2c2c2c;
}

.login-subtitle {
  margin-top: 5px;
  font-size: 15px;
  color: #6d6d6d;
}

/* Inputs */
.login-input {
  width: 100%;
  padding: 13px 16px;
  border-radius: 12px;
  border: 1px solid #e3e3e3;
  background: #fafafa;
  margin-top: 5px;
  font-size: 14px;
  transition: all 0.2s ease;
}

.login-input:focus {
  border-color: #6a11cb;
  box-shadow: 0 0 8px rgba(106, 17, 203, 0.2);
}

/* Button */
.login-btn {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(135deg, #79C821, #545375);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: 0.25s;
  margin-top: 10px;
}

.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

/* Bottom text */
.login-register-text {
  text-align: center;
  margin-top: 18px;
  color: #555;
}

.login-register-link {
  color: #6a11cb;
  font-weight: 700;
  text-decoration: none;
}

.login-register-link:hover {
  text-decoration: underline;
}

/* Responsive */

@media (max-width: 992px) {
  .login-wrapper {
    flex-direction: column;
  }
  .login-left {
    width: 100%;
    height: 250px;
  }
  .login-right {
    width: 100%;
    padding: 30px 20px;
  }
  .forgot a{
  margin-left: 118px;
}
}


@media (max-width: 768px) {
  .login-wrapper {
    flex-direction: column;
  }
  .login-left {
    width: 100%;
    height: 250px;
  }
  .login-right {
    width: 100%;
    padding: 30px 20px;
  }
  .forgot a{
  margin-left: 118px;
}
}

@media (max-width: 576px) {
  .login-left {
    display: none;
  }
  .login-right {
    width: 100%;
    padding: 20px;
  }
  .login-title {
    font-size: 26px;
  }
}
